/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,400;0,500;1,400;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  user-select: none;
  font-family: "Poppins";
} */

body.dark{
  background-color: #000;
  color: #fff;
}